<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>RECLAMOS</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <section class="d-flex justify-content-center align-items-center">
        <div class="card shadow col-xs-12 col-sm-6 col-md-6 col-lg-4   p-4">
            <div class="mb-4  justify-content-start align-items-center text-center">

                <h4> <i class="bi center"></i> &nbsp; LIBRO DE RECLAMACIONES</h4>

            </div>
            <div class="mb-1">
                <form th:action="@{/save}" th:object="${user}" method="post">
                    <div>
                        <select th:field="*{ciudad}" id="ciudad" class="form-select"
                            aria-label="Default select example">
                            <option th:each="ciudad:${surcu}" th:value="${ciudad.id}" th:text="${ciudad.nombre}" />
                        </select>
                    </div>
                    <hr>
                    <div class="mb-2 d-flex justify-content-between   row">
                        <div class="container">
                            <div class="row">
                                <div class="col .col-md-6">
                                    <input type="text" th:field="*{nombre_usu}" class="form-control" name="nombre"
                                        id="nombre" placeholder="Nombre" required>
                                    <div class="nombre text-danger "></div>
                                </div>
                                <div class="col .col-md-6">
                                    <input type="text" th:field="*{apellidoP_usu}" class="form-control" name="apellido"
                                        id="apellido" placeholder="Apellido P." required>
                                    <div class="apellido text-danger"></div>
                                </div>
                                <div class="col .col-md-6">
                                    <input type="text" th:field="*{apellidoM_usu}" class="form-control" name="apellido"
                                        id="apellido" placeholder="Apellido M." required>
                                    <div class="apellido text-danger"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <input type="text" th:field="*{direccion_usu}" class="form-control" name="Direccion"
                            id="direccion" placeholder="Direccion" required>
                        <div class="direccion text-danger"></div>
                    </div>
                    <div class="mb-4">
                        <label for="correo"><i class="bi bi-envelope-fill"></i> Correo</label>
                        <input type="email" th:field="*{email}" class="form-control" name="correo" id="correo"
                            placeholder="ej: gpmcheco@mail.com" required>
                        <div class="correo text-danger"></div>

                    </div>
                    <div class="mb-2 d-flex justify-content-between row">
                        <div class="col">
                            <input type="text" th:field="*{documento_usu}" class="form-control" name="documento"
                                id="dni" placeholder="DNI" required>
                            <div class=" text-danger"></div>
                        </div>

                    </div>
                    <div class="mb-2 d-flex justify-content-between row">
                        <div class="col">
                            <input type="text" th:field="*{telefono}" class="form-control" name="" id="nombre"
                                placeholder="Telefono" required>
                            <div class="Telefono text-danger "></div>
                        </div>
                        <div class="col">
                            <input type="text" th:field="*{edad_usu}" class="form-control" name="apellido" id="apellido"
                                placeholder="Edad" required>
                            <div class="Edad text-danger"></div>
                        </div>

                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">OBSERVACIONES</label>
                        <textarea type="text" class="form-control" th:field="*{observaciones_usu}"
                            id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>

                    <div class="mb-2">
                        <input type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            class="col-12 btn btn-primary text-center" value="Guardar" />
                    </div>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </section>
</body>

</html>