<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>RECLAMOS</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body style="background-color: darkgrey;">
    <section class="d-flex justify-content-center align-items-center">
        <div class="card shadow align-items-center col-xs-12 col-sm-6 col-md-6 col-lg-4 "
            style="margin-top : 14%!important; border : 11px;">

            <button style="margin: 1rem 0rem 0rem -25rem;border: solid;border-color: red;" type="submit"
                class="btn-close" aria-label="Close" th:action="@{/index}">
            </button>

            <div class="md-6 justify-content-start align-items-center text-center">
                <h1 style="color: red; font-size: 3.5rem !important; margin: 1rem 0rem 1rem 0rem;"><i
                        class="bi center"></i> &nbsp; DÉJANOS TUS DATOS</h1>
                <h5 style="color: darkslategrey; size: 11px; margin: 1rem 1rem 1rem 1rem;">Sus datos fueron enviados
                    exitosamente, atenderemos su solicitud lo más pronto posible</h5>
            </div>
        </div>
    </section>
</body>

</html>